.bookStatsTopRow {
  margin-bottom: 16px;
}

.bookStatsCount {
  margin-bottom: 16px;
}

.bookStatsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

.bookStatsLatestTitle {
  margin-bottom: 8px;
}
